/*COUNTDOWN-START*/

.count{
    font-size: 80px;
    margin-left: 99px;
    text-shadow: 5px 5px 5px black;
}
button{
    padding: 10px;
    margin-left: 20px;
    border-radius: 15px;
    font-size: 30px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
    
}
/*COUNTDOWN-END*/