
body{
  background-color:lightcoral;
  /* background-color: blanchedalmond; */
}


.card{
  width: 500px;

}
#img{
  background-color: black;
}
h1{
  text-align: center;
}
 span{
  color: lightseagreen;
}

